<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 对应前面定义的接口-->
<mapper namespace="com.atguigu.dw.gmall.publisher.mapper.DauMapper">
    <!--对应前面接口中的方法,  标签内写响应的查询语句, 查询的接口会赋值给这个方法的返回值-->
    <select id="getDauTotal" resultType="java.lang.Long">
        select count(1) from GMALL_REALTIME.DAU where LOGDATE=#{date}
    </select>

    <!--分时明细-->
    <select id="getDauHour" resultMap="dauHourList">
        select LOGHOUR, count(1) count from  GMALL_REALTIME.DAU where LOGDATE=#{date} group by LOGHOUR
    </select>
    <resultMap id="dauHourList" type="java.util.Map" autoMapping="true"></resultMap>

</mapper>